<%- include('partials/header.ejs') -%>

<label class="hamburgerMenu" for="toggle-nav">
    <div class="backgroundCircle"></div>
    <img class="plus-icon" src="https://assets.website-files.com/622f2476e95ec7155b37e7b0/6230608120c6cb6c4566f5d4_icons8-plus-math.svg" alt="">
</label>
</div>  
<input type="checkbox" id="toggle-nav">

<div id="nav-listContainer">
<div class="nav-list">
    <a class="link" href="#about">// ABOUT</a>
    <a class="link" href="#skills">// SKILLS</a>
    <a class="link" href="#projetcs">// PROJECTS</a>
    <a class="link" href="#about">// ABOUT</a>
    <a class="link" href="#skills">// SKILLS</a>
    <a class="link" href="#projetcs">// PROJECTS</a>
    <a class="link" href="#about">// ABOUT</a>
    <a class="link" href="#skills">// SKILLS</a>
    <a class="link" href="#projetcs">// PROJECTS</a>
    <a class="link" href="#about">// ABOUT</a>
    <a class="link" href="#skills">// SKILLS</a>
    <a class="link" href="#projetcs">// PROJECTS</a>
    <a class="link" href="#about">// ABOUT</a>
    <a class="link" href="#skills">// SKILLS</a>
    <a class="link" href="#projetcs">// PROJECTS</a>

</div>
</div>
</div>
</nav>


<body>
    <div id="home">
        <div id="intro-container">
            <span class="intro small Iam">Hi, I am</span>
            <span class="intro big gaurang">GAURANG</span>
            <span class="intro big mestry">MESTRY</span>
            <span class="intro small desc">Frontend developer</span>
            <span class="cv-container"><a class="outSection-link intro small cv" href="images/my resume 2.pdf" target="_blank">// curriculum</a><a class="outSection-link intro small cv" href="images/my resume 2.pdf" target="_blank">&nbsp; vitae.</a></span>
        </div>
        
    </div>
    <div id="about">
        <div class="about-container">
            <h1 class="about-me hidden"><a class="inSection-link about-me-text" href="#about">about me.</a></h1>
            <div class="photo-container about hidden">
                <img class="my-photo" src="images/Profile image 2.jpg" alt="My photo">
            </div>
            <div class="about-desc about hidden">
                <p>
                    Hello there! Welcome to my corner of the internet.

                    I'm a junior software developer who enjoys using my coding skills to solve problems. Also, as a person who values efficiency, I consistently seek easier approaches to accomplish a task. I'm also interested in the blockchain technology and I'm willing to learn more about it.
                </p>
                <p>
                    With passion for computer programming, I've been fortunate to turn my love for it into a lifelong career. 

                    I'm here to connect, collaborate, and create with like-minded individuals who share my enthusiasm. So, dive into my portfolio, get to know me a little better.
                </p>
                
            </div>
        </div>
        <div id="contact-links-container">
            <div class="hamburgerMenuGit socials hidden">
                <div class="backgroundCircleGit" ></div>
                <img class="git-icon" src="https://github.com/ngaraug/portfolio/blob/main/Icons/GitHub-minimalistic-1.png?raw=true" alt="">
            </div>
            <div class="hamburgerMenuLinkedIn socials hidden">
                <div class="backgroundCircleLinkedId" ></div>
                <img class="LI-icon" src="https://github.com/ngaraug/portfolio/blob/main/Icons/LinkedIn-minimalistic-1.png?raw=true" alt="">
            </div>
            <div class="hamburgerMenuLeet socials hidden">
                <div class="backgroundCircleLeet" ></div>
                <img class="leet-icon" src="https://github.com/ngaraug/portfolio/blob/main/Icons/leetcode-minimalistic-1.png?raw=true" alt="">
            </div>
            <div class="hamburgerMenuInstagram socials hidden">
                <div class="backgroundCircleInstagram" ></div>
                <img class="insta-icon" src="https://github.com/ngaraug/portfolio/blob/main/Icons/Instagram-minimalistic-1.png?raw=true" alt="">
            </div>
        </div>
    </div>
    <div id="skills">
        <h1 class="about-me hidden"><a class="inSection-link about-me-text" href="#skills">relavent skills.</a></h1>
        
        <div class="skills-container">
            <div class="skill hidden">
                <img class="skill-icon html" src="https://github.com/ngaraug/portfolio/blob/main/Icons/HTML-colored-1.png?raw=true" alt="HTML5" title="HTML5">
            </div>
            <div class="skill hidden">
                <img class="skill-icon css" src="https://github.com/ngaraug/portfolio/blob/main/Icons/CSS-colored-1.png?raw=true" alt="CSS" title="CSS">
            </div>
            <div class="skill hidden">
                <img class="skill-icon js" src="https://github.com/ngaraug/portfolio/blob/main/Icons/JS-colored-1.png?raw=true" alt="JavaScript" title="JavaScript">
            </div>
            <div class="skill hidden">
                <img class="skill-icon mongo" src="https://github.com/ngaraug/portfolio/blob/main/Icons/MongoDB-colored-1.png?raw=true" alt="MongoDB" title="MongoDB">
            </div>
            <div class="skill hidden">
                <img class="skill-icon react" src="https://github.com/ngaraug/portfolio/blob/main/Icons/React-colored-1.png?raw=true" alt="ReactJS" title="ReactJS">
            </div>
            <div class="skill hidden">
                <img class="skill-icon node" src="https://github.com/ngaraug/portfolio/blob/main/Icons/NodeJS-colored-1.png?raw=true" alt="NodeJS" title="NodeJS">
            </div>
            <div class="skill hidden">
                <img class="skill-icon express" src="https://github.com/ngaraug/portfolio/blob/main/Icons/express-minimalistic-1.png?raw=true" alt="ExpressJS" title="ExpressJS">
            </div>
            <div class="skill hidden">
                <img class="skill-icon python" src="https://github.com/ngaraug/portfolio/blob/main/Icons/Python-colored-1.png?raw=true" alt="Pyhton" title="Python">
            </div>
            
        </div>
    </div>
    <div id="projetcs">
        <h1 class="about-me hidden"><a class="inSection-link about-me-text" href="#projetcs">projects.</a></h1>
        <div class="about-desc">
            <div class="projects-container">

                <% for(i in projects){ %>
                    <form class="project-form hidden" action= <%= "/projects/" + projects[i].name %>>
                        <button class="project" type="submit">
                            <img class="project-image" src= <%= projects[i].images[0] %> alt=<%= projects[i].title%>>
                            <div class="project-title-container">
                                <span class="project-title"><%= projects[i].title%></span>
                            </div>
                        </button>
                    </form>
                <% } %>

            </div>
            
        </div>
        
    </div>
    <script src="/nav-behaviour.js"></script>
</body>
</html>

