<%- include('partials/header.ejs') -%>

<form class="project-hamburgerMenu" action="/" method="get">
    <div class="project-backgroundCircle"></div>
    <img class="project-back-icon" src="https://github.com/ngaraug/portfolio/blob/main/Icons/icons8-left-arrow-48.png?raw=true" alt="">
</form>
</div>  
</div>
</nav>



<body>
    <div id="project-page">
        <h1 class="project-page-title hidden"><%= project.title %></h1>
        <h2 class="project-page-date hidden"><%= project.date %></h2>
        <div class="project-page-desc-container" >
            <h2 class="project-page-desc hidden" ><%= project.desc %></h2>
        </div>
        <div class="project-page-tech-container hidden">
            <span class="project-page-tech-title">Technologies used: </span>
            <% for(let i in project.technologies){ %>
                <span class="project-page-tech"><%= project.technologies[i] %>,&nbsp;</span>
            <% } %>
        </div>
        <div class="project-page-link-container">
            <span class="project-page-link-span"><a class="inSection-link project-page-link hidden" href= <%= project.git %> target="_blank" >// code</a> </span>
            <span class="project-page-link-span"><a class="inSection-link project-page-link hidden" href= <%= project.live %> target="_blank" >// live application</a> </span>
        </div>
        <h3 class="project-page-screenshots hidden">screenshots.</h3>
        <div class="project-page-images-container">
            <% for(i in project.images){ %>
                <div class="project-page-image-container">
                    <img class="project-page-image hidden" src=<%= project.images[i] %>>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/project-behaviour.js"></script>
</body>
</html>
